@use "tailwindcss/index.css";
@source "../../../soma-ui/src";

@plugin "daisyui" {
  themes: lemonade --default,
  dark;
}

@utility no-scrollbar {
  scrollbar-width: none;
}

@utility h-content {
  @apply min-h-[calc(100vh-3em)]
}

html, body, #root {
  background: transparent !important;

  @apply m-0 p-0 shadow-none overscroll-none;
}

#root {
  @apply overflow-hidden border-none rounded-xl;
}

* {
  @apply no-scrollbar;
}

.tab {
  &:not(.tab-active) {
    button {
      @apply btn-ghost;
    }
  }

  &.tab-active {
    button {
      @apply btn-error;
    }
  }
}

@utility grid-max-content {
  @apply grid-cols-[auto_max-content];
}

*[data-tauri-drag-region] {
  app-region: drag;
}

[data-no-drag],
[data-no-drag] * {
  app-region: no-drag;
}
