@use "tailwindcss/index.css";
@use 'cmdk';

@plugin 'tailwind-scrollbar';

@plugin "daisyui" {
  themes: lemonade --default, dark;
}

@theme {
  --animate-caret: blink 1s steps(11) infinite 2s;

  @keyframes blink {
    0% {
      opacity: 1;
    }
    0.1% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    50.1% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
}

@utility h-content {
  @apply min-h-[calc(100vh-3em)]
}

html, body, #root {
  background: transparent !important;

  @apply m-0;
}

#root {
  @apply overflow-hidden border-none rounded-xl;
}

.tab {
  &:not(.tab-active) {
    button {
      @apply btn-ghost;
    }
  }

  &.tab-active {
    button {
      @apply btn-error;
    }
  }
}

@utility grid-max-content {
  @apply grid-cols-[auto_max-content];
}

*[data-tauri-drag-region] {
  app-region: drag;
}

[data-no-drag],
[data-no-drag] * {
  app-region: no-drag;
}
