[Unit]
Description=Soma daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{install_prefix}}/bin/soma-daemon
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
