<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{service_label_agent}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/Soma/soma-agentd.app/Contents/MacOS/soma-agentd</string>
    <string>--socket-path</string>
    <string>/tmp/soma-__SOMA_UID__/soma/soma-agentd.sock</string>
    <string>--db-path</string>
    <string>__SOMA_HOME__/Library/Application Support/Soma/agentd.db</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SOMA_LOGS_DIR</key>
    <string>__SOMA_HOME__/Library/Logs/Soma/agentd</string>
    <key>SOMA_LOG_FORMAT</key>
    <string>json</string>
  </dict>
  <key>WorkingDirectory</key>
  <string>__SOMA_HOME__</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
