<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{service_label_daemon}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-lc</string>
    <string>socket_dir="/tmp/soma-$(id -u)/soma"; mkdir -p "$HOME/Library/Application Support/Soma" "$HOME/Library/Application Support/Soma/blobs" "$HOME/Library/Logs/Soma/daemon" "$socket_dir" &amp;&amp; chmod 700 "$socket_dir" &amp;&amp; exec "/Applications/Soma/soma-daemon.app/Contents/MacOS/soma-daemon" --listen-addrs /ip4/0.0.0.0/tcp/0,/ip4/0.0.0.0/udp/0/quic-v1,/ip4/0.0.0.0/tcp/0/ws --db-path "$HOME/Library/Application Support/Soma/daemon.db" --blob-dir "$HOME/Library/Application Support/Soma/blobs" --socket-path "$socket_dir/soma-daemon.sock"</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SOMA_DATA_DIR</key>
    <string>$HOME/Library/Application Support/Soma/data</string>
    <key>SOMA_LOGS_DIR</key>
    <string>$HOME/Library/Logs/Soma/daemon</string>
    <key>SOMA_LOG_FORMAT</key>
    <string>json</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
