<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>{{service_label_agent}}</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/sh</string>
    <string>-lc</string>
    <string>socket_root="${TMPDIR:-/tmp/soma-$(id -u)}"; socket_dir="${socket_root%/}/soma"; mkdir -p "$HOME/Library/Logs/Soma/agentd" "$socket_dir" &amp;&amp; chmod 700 "$socket_dir" &amp;&amp; exec "{{install_prefix}}/bin/soma-agentd" --socket-path "$socket_dir/soma-agentd.sock"</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>SOMA_LOGS_DIR</key>
    <string>$HOME/Library/Logs/Soma/agentd</string>
    <key>SOMA_LOG_FORMAT</key>
    <string>json</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
</dict>
</plist>
