[Unit]
Description=Soma daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="SOMA_DATA_DIR=%h/.local/share/soma/data"
Environment="SOMA_LOGS_DIR=%h/.local/state/soma/daemon"
Environment="SOMA_LOG_FORMAT=json"
ExecStartPre=/usr/bin/install -d -m 0700 %t/soma
ExecStart={{install_prefix}}/bin/soma-daemon --listen-addrs /ip4/0.0.0.0/tcp/0,/ip4/0.0.0.0/udp/0/quic-v1,/ip4/0.0.0.0/tcp/0/ws --db-path %h/.local/share/soma/daemon.db --blob-dir %h/.local/share/soma/blobs --socket-path %t/soma/soma-daemon.sock
WorkingDirectory=%h
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
