[Unit]
Description=Soma agentd
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment="SOMA_LOGS_DIR=%h/.local/state/soma/agentd"
Environment="SOMA_LOG_FORMAT=json"
ExecStart={{install_prefix}}/bin/soma-agentd --socket-path /tmp/soma-agentd.sock
WorkingDirectory=%h
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
