[Unit]
Description=Soma agentd
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{install_prefix}}/bin/soma-agentd --socket-path /tmp/soma-agentd.sock --models-dir {{install_prefix}}/share/soma/models
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
